.social-img{
    width:30%;
    position:fixed;
    top:300px;
    left:150px;
}
.Top-heading{
    width:100%;
    margin-left:300px;
}
.empty-space{
    width: 30%;
}
.heading2{
    width: 40%;
}

@media screen and (max-width:800px){
    .social-img{
        display:none;
    }
    .Top-heading{
        width:100%;
        margin-left:0px;
    }
    .empty-space{
        width: 0%;
    }
    .heading2{
        width: 100%;
    }
}