.main-container{
    display: grid;
    grid-template-columns: 70% auto;
}

.text1{
    position: relative;
    font-size: xx-large;
    font-weight: 700;
  }
      
  .text1::after {
    content: "";
    position: absolute;
    border-top: 4px solid rgba(255, 0, 0, 0.452);
    left: 3px;
    bottom: 0;
    width: 70px;
    height: 0px;
  }
  @media screen and (max-width:800px){
    .main-container{
        display: inline-block;
        width: 95%;
        justify-content: space-around;
    }
    .image-grid{
        display: none;
    }
    .number{
        display: none;
    }
    /* .content{
        width:200px;
    } */
  }