.text{
    position: relative;
  }
      
  .text::after {
    content: "";
    position: absolute;
    border-top: 2px solid rgba(255, 0, 0, 0.452);
    left: 3px;
    bottom: 0;
    width: 4%;
    height: 0px;
  }