.grid-container{
    display: grid;
    grid-template-columns: 67% auto;
    grid-template-rows: 200px 200px;
    grid-gap: 1%;
    padding-top: 2%;
    box-sizing: border-box;
}
.grid-item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 2%;
    overflow: hidden;
}
.centered {
    position: absolute;
    bottom: 5%;
    left: 20%;
    color: white;
    transform: translate(-20%, -40%);
    font-size: xx-large;
  }
  .centered1 {
    position: absolute;
    bottom: 5px;
    left: 10%;
    font-size: large;
    color: white;
  }
.grid-container div{
    border-radius: 2%;
}
img{
    border-radius: 2%;
}
.travel-date{
    font-size: small;
}
@media screen and (max-width:800px){
    .grid-container{
        display: grid;
        justify-content: center;
        grid-template-columns: 90% auto;
        grid-template-rows: 300px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .grid-item1, .grid-item2{
        display: none;
    }
    .centered {
        position: absolute;
        bottom: 5%;
        left: 20%;
        color: black;
        transform: translate(-20%, -40%);
        font-size: xx-large;
      }
}

