.top-heading{
    border: 1px solid grey;
    height: 80px;
    width: 100%;
    display : flex;
    justify-content: space-between;
    margin-top: 2%;
    align-items: center;
    box-shadow: 0px 2px 2px 1px grey;
}
.top-heading div{
    padding-left: 10%;
}
.top-heading button{
    margin-right: 10%;
    border: 1px solid rgb(15, 115, 122);
    color: rgb(15, 115, 122);
    padding:5px;
    box-shadow: -2px 2px 2px 1px rgb(71, 125, 129);
}